* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff42a5;
    --secondary-color: #0B0223;
    --text-color: #534C64;
}

body {
    font-family: "Work Sans", sans-serif;
}